# Python stuff
__pycache__/
*.py[cod]
*$py.class

# VSCode settings
.vscode

# Results folders (maybe include?)
predictions
results

# Private project folders
scripts_hf
ChaosNLI
data
checkpoints
runs
nohup.out